/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fine reset */


/* common */
.test {
    border: 2px dashed red;
}

.profile {
    height: 70px;
    background-color: #EAEAEA;
}
/* fine common */


/* body */
body {
    background-color: #DCDBD2;
    font-family: "Open Sans", sans-serif;
}
/* fine body */


/* header */
header {
    background-color: #009688;
    height: 150px;
    width: 100%;
}
/* fine header */


/* container */
.container {
    max-width: 1600px;
    margin: auto;
    padding: 0px 10px;
}
/* fine container */


/* main */
main {
    display: flex;
    width: 100%;
    position: relative;
    top: -125px;

    /* test */
    height: 960px;
}
/* fine main */


/* left bar */
#left-bar {
    width: 30%;
    height: 100%;
}

#notifications {
    height: 84px;
    background-color: #8EDAFC;
}

.search-bar {
    height: 50px;
    background-color: white;
}

#chat-list {
    overflow-y: scroll;
    background-color: white;
    height: calc(100% - 70px - 84px - 50px);
}

.chat {
    height: 80px;
}
/* fine left bar */

/* main content */
#main-content {
    width: 70%;
    height: 100%;
}

.chat-content {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 70px - 74px);
    overflow-y: scroll;
}

#send-message-bar {
    height: 74px;
    background-color: #F3EEEA;
}
/* fine main content */



