/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fine reset */


/* common */
.test {
    border: 2px dashed red;
}

.flex {
    display: flex;
}

.profile {
    height: 70px;
    background-color: #EAEAEA;

    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}

i {
    cursor: pointer;
}
/* fine common */


/* body */
body {
    background-color: #DCDBD2;
    font-family: "Open Sans", sans-serif;
}
/* fine body */


/* header */
header {
    background-color: #009688;
    height: 150px;
    width: 100%;
}
/* fine header */


/* container */
.container {
    max-width: 1600px;
    margin: auto;
    padding: 0px 10px;
    height: calc(100vh - 150px);
}
/* fine container */


/* main */
main {
    display: flex;
    width: 100%;
    height: 100%;
    height: calc(100vh - 25px - 25px);
    position: relative;
    top: -125px;
}
/* fine main */


/* left bar */
#left-bar {
    width: 30%;
    height: 100%;
    border-right: 1px solid lightgray;
}

#left-bar .profile {
    justify-content: space-between;
}

.profile-icons {
    justify-self: flex-end;
    gap: 18px;
    padding-right: 20px;
    color: #B1B1B1;
    font-size: 20px;

}

#notifications {
    height: 84px;
    background-color: #8EDAFC;

    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}

.fa-bell-slash {
    border-radius: 50%;
    background-color: #F2FBFF;
    color: #8EDAFC;
    font-size: 20px;
    padding: 15px 12.5px;
}

.notification-info a {
    color: gray;
    font-size: 14px;
}

.search-bar {
    height: 50px;
    background-color: #FAFAFA;
    align-items: center;
    padding: 0px 10px;
}

.search-bar .button {
    width: 75px;
    height: 36px;

    justify-content: center;
    align-items: center;
    border-color: white;
    border: 1px solid lightgray;
    border-right: 0px;
    color: lightgray;
    cursor: pointer;

}

#search-input {
    width: 100%;
    height: 36px;
    border: 1px solid lightgray;
    padding: 0px 10px;
}

#chat-list {
    overflow-y: scroll;
    background-color: white;
    height: calc(100% - 70px - 84px - 50px);
}

.chat {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    cursor: pointer;
    user-select: none;
}

.chat:hover {
    background-color: #f3f3f3;
}

.chat.active {
    background-color: #e4e4e4;
}

.chat-profile {
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.chat img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.chat .time {
    padding: 10px;
    align-self: flex-start;
    font-size: 12px;
    color: #8a8a8a;
}
/* fine left bar */


/* main content */
#main-content {
    width: 70%;
    height: 100%;
}

.contact-info {
    flex-direction: column;
}

#main-content .profile {
    justify-content: space-between;
}

#main-content .chat-profile {
    padding-left: 0;
    gap: 0;
}

.contact-info p {
    font-size: 14px;
    color:#8a8a8a;
}

.chat-content {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 70px - 74px);
    flex-direction: column;
    overflow-y: scroll;
    padding: 50px 100px;
}

.message {
    max-width: 320px;
    align-self: flex-start;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 12px 34px 12px 16px;

    position: relative;
}

.received {
    background-color: white;
}

.sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.message .time {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    font-size: 10px;
    color: #8a8a8a;
}

.message .delete {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 14px;

    display: none;
}

.message .fa-trash-can:hover {
    color: red;
}

.message .fa-trash-can:hover .delete {
    display: block;
}

.message:hover .delete {
    display: block;
}

.delete {
    position: absolute;
    display: none;
}

#send-message-bar {
    height: 74px;
    background-color: #F3EEEA;
    align-items: center;
}

.chat-emotes,
.send-message {
    width: 100px;
    justify-content: center;
    font-size: 24px;
    color: #B1B1B1;

}

.send-message i {
    cursor: pointer;
    transition: .2s ease;
}
.send-message i:hover {
    transform: scale(1.2);
    color: #8EDAFC;
}

.message-bar {
    width: calc(100% - 200px);
}

#message-input {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 16px;
}
/* fine main content */



